body {
    background-color: darkgoldenrod;
}

#quote-box {
    margin: 0 auto;    
    vertical-align: middle;
    color: goldenrod;
    border: solid 1px;
    vertical-align: middle;
    width: 50%;
    border-radius: 0.5rem;
    text-align: center;
    align-items: center;
    background-color: brown;    
}

#new-quote {
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    padding: 0.3rem;
    border: solid 3px;
    border-color: goldenrod;
    background-color: darkseagreen;
}

#tweet-quote {
    margin-bottom: 1.5rem;
}

#tweet-btn {
    background-color: deepskyblue;
    padding: 0.3rem;
    border-radius: 1rem;
    border: solid 3px;
    border-color: goldenrod;
}